<p-toast></p-toast>
<p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>
<div class="card">
<p-table #datasv [value]="datas" [rows]="5" [paginator]="true" [globalFilterFields]="['Product_Id','Product_Name']"
[rowHover]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [showCurrentPageReport]="true" >
<div class="card shadow p-3 mb-5 bg-primary rounded ">
<ng-template pTemplate="caption">
    <div class="table-header">
        Manage order
        <span class="p-input-icon-left">
            <i class="pi pi-search"></i>
            <input pInputText type="text" (input)="datasv.filterGlobal($event.target.value, 'contains')" placeholder="Global Search" />
        </span>
    </div>
</ng-template>
</div>
    <ng-template pTemplate="header" class="bg-primary ">
        <tr >
            <th pSortableColumn="Product_Id"  >Product_id <p-sortIcon field="Product_Id"></p-sortIcon></th>
            <th id="pname">Product_Name</th>
            <th pSortableColumn="Price" >Price<p-sortIcon field="Price"></p-sortIcon></th>
            <th>lastest_avaliabity</th>
            <th>Available_Stock</th>
            <th></th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-data  let-editing="editing" let-ri="rowIndex">
        <tr [pEditableRow]="data">
            <td>{{data.Product_Id}}</td>
            <td>{{data.Product_Name}}</td>
            <td>{{data.Price | currency: 'INR'}}</td>
            <td>
                <p-cellEditor>
                    <ng-template pTemplate="input">
                        <input pInputText type="text" [(ngModel)]="data.lastest_avaliabity">
                    </ng-template>
                    <ng-template pTemplate="output">
                        {{data.lastest_avaliabity}}
                    </ng-template>
                </p-cellEditor>
            </td>
            <td>
                <div class="badges mt-2">
                    <span class="p-tag p-tag-rounded p-tag-success" *ngIf="data.Available_Stock >9"> In Stock :{{data.Available_Stock}}</span>
                    <span class="p-tag p-tag-rounded p-tag-warning" *ngIf="data.Available_Stock >0 && data.Available_Stock <= 9"> Limited Stock :{{data.Available_Stock}}</span>
                    <span class="p-tag p-tag-rounded p-tag-danger" *ngIf="data.Available_Stock <= 0 ">  Currently out of stock </span>
                </div>
               <!-- <span class="p-badge p-badge-l p-badge-sucess">{{data.Available_Stock}}</span> -->
               
            </td>
            <td style="text-align:center">
                <button  pButton pRipple type="button"  icon="pi pi-pencil" (click)="onRowEditInit(data)" class="p-button-rounded p-button-text"></button>
                <button  pButton pRipple type="button"  icon="pi pi-trash" class="p-button-rounded p-button-text"></button>    
            </td>
        </tr>
    </ng-template>
    <ng-template pTemplate="summary">
        <div class="p-d-flex p-ai-center p-jc-between">
            In total there are {{datas ? datas.length : 0 }} datas.
        </div>
    </ng-template>

</p-table>
</div>

<p-dialog [(visible)]="dialog" position="right" styleClass="mydialog">
    <ng-template pTemplate="header" class="bg-primary">
       Updating Stock for {{chachePid.Product_Id}}
    </ng-template>
    <label for="upstock"> Update Stock :  </label> <br>
    <input type="number" pInputText [(ngModel)]="Updatelav"  placeholder="Latest stock" required/>
    <p-footer>
        <button pButton  (click)="save()">Save</button>
    </p-footer>
</p-dialog>