 <div class="row">
    <div class="col-sm-3 col-md-6 col-lg-4 float-right" style="margin: auto;">
        <br>
        <div class="card shadow p-3 mb-5 bg-white rounded">
            <div class="card-header bg-primary rounded shadow">
                <h5 class="card-title">BILLING ITEM  :  1 </h5>
            </div>
         <div class="card-body">
             <div class="row">
                
                 <div class="row p-1" >
                    <ul class="list-group list-group-flush">
                    <li  class="list-group-item"><span class="p-float-label">
                        <input id="float-input" type="text"  [(ngModel)]="productid" appAutofocus required pInputText> 
                        <label for="float-input">Product_Id</label>
                    </span></li>
                    <li  class="list-group-item">
                    <span class="p-float-label">
                        <input id="float-input" type="number"   [(ngModel)]="quantity" pInputText> 
                        <label for="float-input">Quantity</label>
                    </span></li>
                 
                    <li  class="list-group-item">  <button class="btn btn-primary" type="button" (click)="addFieldValue()">Add</button></li>
                </ul>
                 </div>
             </div>
         </div>
        </div>
  </div>


  <div class="col-sm-3 col-md-6 col-lg-4 float-right" style="margin:auto;">
    <br>
    <div class="card shadow p-3 mb-5 bg-white rounded">
        <div class="card-header bg-primary rounded shadow">
            <h5 class="card-title">ADDED PRODUCT : {{len}}</h5>
        </div>
        <div class="card-body">
         <div class="row">
             
             <div class="row p-1">
                <ul class="list-group list-group-flush">
                <li  class="list-group-item">
                   <label>Total Price : {{tprice}}</label> 
            </li>
                <li  class="list-group-item">

                    <label >GST 5% : {{gst}}</label>
                </li>
             
                <li  class="list-group-item">  <button class="btn btn-primary" type="button" >Print</button></li>
            </ul>
             </div>
         </div>
     </div>
    </div>
    
</div>
        
   <div class="card shadow"  style="width:100%; margin: 3%;"> 
    <br>

        <table class="table table-striped table-bordered " >
            <thead class="table-dark">
                <tr>
                    <th>ProductName</th>
                    <th>Qvantity</th>
                    <th>Price</th>
                    <th>Total Price</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let field of fieldArray; let i = index">
                    <td>
                        <label>{{field.ProductName}}</label>
                    </td>
                    <td>
                        <label>{{field.Qvantity}}</label>
                    </td>
                    <td>
                        <label>{{field.price}}</label>
                    </td>
                    <td>
                        <label>{{field.totalprice}}</label>
                    </td>
                    <td>
                        <i class="pi pi-times" (click)="deleteFieldValue(i,field.totalprice,field.ProductName)"></i>
                       
                    </td>
                </tr>
            </tbody>
        </table>  
    </div>
 </div>

    <p-toast></p-toast>
    <p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle"></p-confirmDialog>