<div class="card shadow p-3 mb-5 bg-white rounded" style="width: 50%; margin: auto;">
    <div class="card-header bg-primary rounded shadow" style="align-items: center;">
    <h5>Insert New Product</h5>
     </div>
     <div class="card-body" style="align-self: center;">
          
        <span class="p-float-label">
    <input id="float-input" type="text" Name="Prodid" [(ngModel)]="ProductID" pInputText > 
    <label for="float-input">Product_Id</label></span>
<br><br>
<span class="p-float-label">
<input id="float-input" type="text" Name="Price" [(ngModel)]="Price" pInputText> 
    <label for="float-input">Price</label></span>
<br><br>
<span class="p-float-label">
<input id="float-input" type="number" Name="la" [(ngModel)]="la" pInputText> 
    <label for="float-input">Latest_availability</label></span>
<br><br>
<span class="p-float-label">
<input id="float-input" type="text" Name="Remarks" [(ngModel)]="Remarks" pInputText> 
    <label for="float-input">Product Name</label></span>
<br><br>
<label>GST :</label><br>
<p-inputSwitch [(ngModel)]="checked"></p-inputSwitch><br>
<br>
<button pButton type="button bg-success" label="save" (click)="postData()"></button><br>
    </div>
</div>


<p-toast></p-toast>



